$white:  #fff;
$white-shade: #FDFDFD;
$black: #000;
$primary: #3C42C8;
$primary-shade1: #5D64FF;
$purple-shade: #B087FF;
$secondary: #FFD058;
$secondary-dark: #FFB700;
$dark:#0D0D4B;
$gray: #B0B0B0;
$max-container-width: 100%;
$header-height: 118px;
$font-family: 'Spartan', sans-serif;
$font-family-md: 'Spartan-Medium', sans-serif;
$font-family-semibold: 'Spartan-Semibold', sans-serif;
$font-family-bold: 'Spartan-Bold', sans-serif;
