@import "../../assets/scss/variable";

.TabList {
  max-width: 1440px;
  margin: 0 auto 100px;
}
.TabImg {
  height: 335px;
  max-width: 500px;
  background-color: #e5e5e5;
  padding: 0;
  overflow: hidden;
  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
}
.TabDetail {
  padding-left: 100px;
  .TabTitle {
    color: $white;
  }
  .TabSubTitle {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
  }
  cursor: pointer;
}
@media (max-width: 1440px) {
  .TabImg {
    height: 251px;
    max-width: 375px;
  }
  .TabList {
    margin: 0 auto 75px;
  }
}
@media (max-width: 992px) {
  .TabList {
    margin-bottom: 60px;
  }
  .TabImg {
    max-height: 300px;
    max-width: 100%;
  }
  .TabDetail {
    padding-left: 0;
    padding-top: 25px;
  }
}
